.dot{
    display: flex;
    text-align: center;
    flex-direction: rows;
    margin-right: 1rem;
    align-items: center;
}
.right-arrow{
    margin-left: 2rem;
    margin-top: 2.5rem;
}
.left-arrow{
    margin-right: 2rem;
    margin-top: 2.5rem;
} 
@media screen and (max-width: 1024px){
    .h3{
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    .h3{
        text-align: center;
    }
}