nav > ul{
    background: rgba(0,0,0,0.3);
    list-style-type: none;
    width: max-content;
    height: max-content;
    align-items: center;
    padding: 0.7rem;
    position: fixed;
    left: 95%; 
    transform: translateX(-50%);
    bottom: 10rem;
    border-radius: 5rem;
    backdrop-filter: blur(15px);
}
nav > ul > li {
    background: transparent;
    padding: 1rem;
    justify-content: space-evenly;
    color: var(--color-light);
    height: max-content;
    width: max-content;
}
nav a:hover{
    background: rgba(0,0,0,0.3);
}
nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}
@media screen and (max-width: 1024px){
    nav > ul{
        background: rgba(0,0,0,0.3);
        list-style-type: none;
        width: max-content;
        height: max-content;
        align-items: center;
        padding: 1rem;
        position: fixed;
        left: 95%; 
        transform: translateX(-50%);
        bottom: 15rem;
        gap: 1rem;
        border-radius: 5rem;
        backdrop-filter: blur(15px);
    }
}
@media screen and (max-width: 600px){
    nav > ul{
        background: rgba(0,0,0,0.3);
        list-style-type: none;
        width: max-content;
        height: max-content;
        align-items: center;
        padding: 0.1rem;
        position: fixed;
        left: 95%; 
        transform: translateX(-50%);
        bottom: 9rem;
        border-radius: 5rem;
        backdrop-filter: blur(15px);
    }
}